##########################################################
#														 #
# Configuration for the Docker Container of the backend. #
#														 #
##########################################################

# The spring profile to use. "prod" is recommended.
SPRING_PROFILES_ACTIVE=prod

# The URL of the Postgres Database.
#
# When using the default Postgres Docker Container, use the URL
# jdbc:postgresql://burning-okr-postgres:5432/<database>?useSSL=false
#
# When using a Postgres database on the host machine, you can use the URL
# jdbc:postgresql://host.docker.internal:5432/<database>?useSSL=false
#
# Otherwise use the following URL Scheme to point to a database at a custom location:
# jdbc:postgresql://<hostname>:<port>/<database>?useSSL=false
SPRING_DATASOURCE_URL=jdbc:postgresql://burning-okr-postgres:5432/okr?useSSL=false

# The username of the Postgres User of the OKR Tool. Should be the same as in the postgres.env.
SPRING_DATASOURCE_USERNAME=postgres

# The password of the Postgres User of the OKR Tool. Should be the same as in the postgres.env.
SPRING_DATASOURCE_PASSWORD=4c0K8sJGcxIercJDlmhs

# The SQL Dialect used by the backend
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

# JWT key set URI used by backend container for token validation.
# This avoids host/container issuer mismatch when browser logs in via localhost.
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://burning-okr-keycloak:8080/realms/burning-okr/protocol/openid-connect/certs

# SMTP Server Configuration
SPRING_MAIL_USERNAME=dummy
SPRING_MAIL_PASSWORD=dummy
SPRING_MAIL_HOST=localhost
SPRING_MAIL_PORT=25

# The Authentication Mode. Note: Only one can be active / commented in
# Auth with Keycloak
SYSTEM_CONFIGURATION_OIDC_ADMIN_GROUP_NAME=burning-okr-admin
SYSTEM_CONFIGURATION_CLIENT_ID=burning-okr
SYSTEM_CONFIGURATION_ISSUER_URI=http://localhost:8081/realms/burning-okr
SYSTEM_CONFIGURATION_SCOPES_0=openid
SYSTEM_CONFIGURATION_SCOPES_1=profile
SYSTEM_CONFIGURATION_SCOPES_2=email
SYSTEM_CONFIGURATION_STRICT_DISCOVERY_DOCUMENT_VALIDATION=false
SYSTEM_CONFIGURATION_PROVIDER=keycloak

# Auth with Azure
# SYSTEM_CONFIGURATION_OIDC_ADMIN_GROUP_NAME=<admin-group-name>
# SYSTEM_CONFIGURATION_CLIENT_ID=<client-id>
# SYSTEM_CONFIGURATION_ISSUER_URI=https://login.microsoft.com/<tenant-id>/v2.0
# SYSTEM_CONFIGURATION_SCOPES_0=openid
# SYSTEM_CONFIGURATION_SCOPES_1=offline_access
# SYSTEM_CONFIGURATION_SCOPES_2=profile
# SYSTEM_CONFIGURATION_SCOPES_3=email
# SYSTEM_CONFIGURATION_SCOPES_4=<client-id>/.default
# SYSTEM_CONFIGURATION_STRICT_DISCOVERY_DOCUMENT_VALIDATION=false
# SYSTEM_CONFIGURATION_PROVIDER=azureAD
